body {
  margin-bottom: 15px;
}

.spinnerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
}

.spinner {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 0vh -33px 0 -9px rgba(0, 192, 221, 0.16),
    24px -24px 0 -9px rgba(0, 192, 221, 0.28),
    33px 0vh 0 -9px rgba(0, 192, 221, 0.4),
    24px 24px 0 -9px rgba(0, 192, 221, 0.52),
    0vh 33px 0 -9px rgba(0, 192, 221, 0.64),
    -24px 24px 0 -9px rgba(0, 192, 221, 0.76),
    -33px 0vh 0 -9px rgba(0, 192, 221, 0.88),
    -24px -24px 0 -9px rgba(0, 192, 221, 1);
  animation: spin 1s linear 0s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: center;
  padding: 10px;
}

.content {
  width: 1100px;
}

.navBar {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
}
.leftNav {
  display: flex;
  flex-direction: row;
}

.rightNav {
  align-self: center;
}

.signout {
  border: solid 1px #c000e2;
  color: #c000e2;
  width: 80px;
  margin: 10px;
  padding: 5px;
  font-family: "Raleway", sans-serif;
}

.signout:hover {
  cursor: pointer;
}

.signout:focus {
  outline: none;
}
a {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  text-decoration: none;
}

a:hover {
  color: #c000e2;
}

.navLink {
  margin-left: 15px;
}

.mainContainer {
  width: 100%;
}

.boardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-gap: 10px;
  margin: 10px;
}
.card {
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 100%;
  height: 275px;
  overflow: hidden;
}
.toggle:hover {
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.12), 0 0px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}
.center {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #d863ed;
}

.plus {
  align-self: center;
  margin: auto;
  color: #ffffff;
  font-size: 10rem;
}

.innerCard {
  height: 210px;
  margin: 10px 10px 0px 10px;
}

.cardBody {
  white-space: pre-wrap;
}

.floatRight {
  float: right;
}

.cardTitle {
  color: #c000e2;
}

.formBody {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 100%;
}

.middleBody {
  width: 80%;
  margin: auto;
}

.formInput {
  border: 1px solid #c000e2;
  margin: 10px 0px;
  width: 89%;
  padding: 10px 4px;
}

.field {
  border: 1px solid #c000e2;
  height: 130px;
  margin: auto;
  width: 89%;
  padding: 10px 4px;
  resize: none;
}

.field:focus {
  outline: none;
}

.formButton {
  border: 1px solid #c000e2;
  padding: 5px;
  width: 55px;
  margin-right: 10px;
  margin-top: 10px;
}

.cardButton {
  background-color: #c000e2;
  color: #ffffff;
  width: 100px;
}

.formButton:hover {
  cursor: pointer;
}

.entryBox {
  align-content: center;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  height: auto;
  padding-bottom: 10px;
  width: 350px;
  margin: auto;
}

.welcome {
  height: auto;
  width: 100%;
  margin-bottom: 10px;
}

.entryButton {
  background-color: #ffff;
  border: solid 1px #c000e2;
  display: block;
  margin: 10px 0px;
  padding: 10px;
  width: 100%;
  font-family: "Raleway", sans-serif;
}
.entryButton:hover {
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
}
input {
  border: solid 1px #c000e2;
  display: block;
  margin-top: 10px;
  width: 300px;
  padding: 10px;
}

form {
  align-self: center;
}

input:focus {
  outline: 0;
}

h1 {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}

p {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

.welcomeHeader {
  align-self: center;
}

.welcomeBody {
  align-self: center;
  margin: 10px;
}

/* EDIT BOX */

.editBox {
  display: flex;
  flex-direction: column;
  width: 425px;
  margin: 15px auto;
}

.editForm {
  align-self: auto;
}

.editTitle {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #00c0dd;
  align-self: flex-start;
  font-size: 2rem;
  color: #00c0dd;
  width: 100%;
}

.editBody {
  height: 400px;
  display: block;
  width: 80%;
  margin: 10px 5px;
  font-size: 1rem;
  color: #00c0dd;
  padding: none;
  border: none;
  resize: none;
}

.editBody:focus {
  outline: 0;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #00c0dd;
  opacity: 1; /* Firefox */
}
